<ion-header>
  Vamos Rachar
</ion-header>
<ion-content>
    <ion-input type="number" placeholder="Valor total " [(ngModel)]= "valorTotal" ></ion-input>
    <ion-input type="number" placeholder="Quantidade de pessoas "  [(ngModel)]= "quantidadePessoas" (keyup)="dividir()"></ion-input>

    <button (click)="dividir()">Dividir</button> 
    <button (click)="falar()">Falar</button> 
  
    <button ion-button clear color="dark" icon-only (click)="normalShare()">
      <ion-icon name="share"></ion-icon>
  </button>
  <br/>
      <span id="resultado">Total para cada pessoa : R$ {{resultado}}</span>
</ion-content>
